---
layout: default
title: Desarrollando software y ejecutando proyectos
description: Blog personal que intento mantener actualizado
---

{% include header.html %}



<div id="series">
    <!-- POST más actual para destacar -->
    {% assign lastPost = site.posts | sort:"date" | last %}

    {% assign months = "Enero|Febrero|Marzo|Abril|Mayo|Junio|Julio|Agosto|Septiembre|Octubre|Noviembre|Diciembre" | split: "|" %}
    {% assign m = lastPost.date | date: "%-m" | minus: 1 %}
    {% assign day = lastPost.date | date: "%-d" %}
    {% assign month = months[m] %}
    {% assign year = lastPost.date | date: "%Y" %}

    {% capture temp %}{{lastPost.tags}}{% endcapture %}

    <!-- SERIE del POST más actual -->
    {% assign firstSerie =  site.data.series | where: "name", temp | first %}
    <h3 id="{{ firstSerie.tag_name }}">
      {{ firstSerie.name }}<sup>{{ firstSerie.version }}</sup>
      <span> 
      {{ day }} de {{ month }}, {{ year }} 
      </span>
    </h3>

    <p>
    {{ firstSerie.desc }}
    </p>

    <ul >
    {% for post in site.tags[firstSerie.tag_name] %}
      {% if forloop.first %}
        <li id="updated"{% case post.status %}{% when 'favorite' %}class="favorite"{% when 'notFinished' %}class="notFinished"{% endcase %}>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endif %}
      {% unless forloop.first %}
        <li {% case post.status %}{% when 'favorite' %}class="favorite"{% when 'notFinished' %}class="notFinished"{% endcase %}>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endunless %}
        
    {% endfor %}
    </ul>

    <!-- para el conjunto de SERIES -->
    {% for series in site.data.series%}
      <!-- Resto de SERIES -->
      {% if series.tag_name != temp %}
        <h3 id="{{ series.tag_name }}">{{ series.name }}<sup>{{ series.version }}</sup></h3>
        <p>{{ series.desc }}</p>
        <ul>
        {% for post in site.tags[series.tag_name]  %}
          <li {% case post.status %}{% when "favorite" %}class="favorite"{% when "notFinished" %}class="notFinished"{% else %}{% endcase %}>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
</div>

{% include footer_main.html %}