/* ==========================================================================
   Table of Contents
   ========================================================================== */

/*
    0.  Includes
    1.  Icons
    2.  General
    3.  Utilities
    4.  General
    5.  Single Post
    6.  Third Party Elements
    7.  Pagination
    8.  Footer
    9.  Media Queries (Tablet)
    10. Media Queries (Mobile)
 */

/* ==========================================================================
   0. Includes - Ground zero
   ========================================================================== */



/* ==========================================================================
   1. Icons - Sets up the icon font and respective classes
   ========================================================================== */
@import "_variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?a6r2wj');
  src:  url('#{$icomoon-font-path}/icomoon.eot?a6r2wj#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?a6r2wj') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?a6r2wj') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?a6r2wj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  font-size: 23px;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rss {
  &:before {
    content: $icon-rss;
  }
}

.icon-twitter {
    &:before {
        content: $icon-twitter;
    }

    &:hover {
        color: #00aced;
    }
}

.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}

.icon-google-plus {
  &:before {
    content: $icon-google-plus;
  }
}

.icon-linkedin {
    &:before {
        content: $icon-linkedin;
    }

    &:hover {
        color: #0073a4;
    }
}

.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
&:hover {
      color: #375989;
}
}

.icon-github {
    &:before {
        content: $icon-github;
    }

    &:hover {
         color: #343434;
    }
}

.icon-mail {
  &:before {
    content: $icon-mail;
  }
    &:hover {
         color: #f39c12;
    }
}

/* ==========================================================================
   5. Single Post - When you click on an individual post
   ========================================================================== */

/* Tweak the .post wrapper style */
.post-template .post {
    margin-top: 0;
    border-bottom: none;
    padding-bottom: 0;
}

/* Kill that stylish little circle that was on the border, too */
.post-template .post:after {
    display: none;
}

/* Insert some mad padding up in the header for better spacing */
.post-template .post-header {
    padding: 60px 0;
    text-align: center;
}

.post-template .blog-title {
    display: inline-block;
    padding: 2.5rem 0;
}

/* Keep large images within the bounds of the post-width */
.post-content img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}

/* The author credit area after the post */
.post-footer {
    position: relative;
    margin: 4rem 0 0 0;
    padding: 4rem 0 0 0;
    border-top: #828282 1px solid;
}

.post-footer h4 {
    font-size: 1.8rem;
    margin: 0;
}

.post-footer p {
    margin: 1rem 0;
    font-size: 1.4rem;
    line-height: 1.6em;
}

/* Create some space to the right for the share links */
.post-footer .author {
    margin-right: 180px;
}

/* Drop the share links in the space to the right.
   Doing it like this means it's easier for the author bio
   to be flexible at smaller screen sizes while the share
   links remain at a fixed width the whole time */
.post-footer .share {
    position: absolute;
    top: 4rem;
    right: 0;
    width: 140px;
}

.post-footer .share a {
    font-size: 1.8rem;
    display: inline-block;
    margin: 1.4rem 1.6rem 1.6rem 0;
    color: #BBC7CC;
    text-decoration: none;
}

.post-footer .share a:hover {
    color: #50585D;
}


/* ==========================================================================
   8. Footer - The bottom of every page
   ========================================================================== */

.design-footer {
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(130%, 30%);
}

.footer_main {
    color: #999;
    text-align: center;
    margin: 2rem;

    a {
        color: #999;
        padding: 10px;
        text-decoration: none;
    }
    
   p {
        font-family: "Varela Round", sans-serif;
        display: block;
        margin-top: 3px;
        margin-bottom: 1rem;
        color: #9a9a9a;
        font-size: 0.8rem;

        a:hover {
            color: black;
        }
   }

}

.footer_post {
    color: #999;
    text-align: center;
    margin: 2rem;

    a {
        color: #999;
        padding: 10px;
        text-decoration: none;
    }
    
   p {
        font-family: "Varela Round", sans-serif;
        display: block;
        margin-top: 3px;
        margin-bottom: 1rem;
        color: #9a9a9a;
        font-size: 0.8rem;

        a:hover {
            color: black;
        }
   }

}



.site-footer a {
    /*text-decoration: underline;*/
    color: rgba(51, 51, 51, 0.4);
}

.poweredby .icon-ghost {
    font-weight: 700;
    text-decoration: none;
}

.poweredby .icon-ghost:hover {
    text-decoration: none;
}

.poweredby .icon-ghost:before {
    font-size: 1rem;
    margin-right: 0.2em;
}

/* The subscribe icon on the footer */
.subscribe {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -24px;
    left: 50%;
    margin-left: -15px;
    border: #828282 1px solid;
    text-align: center;
    line-height: 2.4rem;
    border-radius: 50px;
    background: #fff;
    transition: box-shadow 0.5s;
}

/* The RSS icon, inserted via icon font */
.subscribe:before {
    color: #828282;
    font-size: 10px;
    position: absolute;
    top: 18px;
    left: 19px;
    font-weight: bold;
    transition: color 0.5s ease;
}

/* Add a box shadow to on hover */
.subscribe:hover {
    box-shadow: rgba(0,0,0,0.05) 0 0 0 3px;
    transition: box-shadow 0.25s;
}

.subscribe:hover:before {
    color: #50585D;
}

/* CSS tooltip saying "Subscribe!" - initially hidden */
.tooltip {
    opacity:0;
    display: inline-block;
    padding: 4px 8px 5px 8px;
    position:absolute;
    top: -23px;
    left: -21px;
    color: rgba(255,255,255,0.9);
    font-size: 1.1rem;
    line-height: 1em;
    text-align: center;
    background: #50585D;
    border-radius:20px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    transition: opacity 0.3s ease, top 0.3s ease;
}

/* The little chiclet arrow under the tooltip, pointing down */
.tooltip:after {
    content:"";
    border-width:5px 5px 0 5px;
    border-style:solid;
    border-color: #50585D transparent;
    display:block;
    position:absolute;
    bottom:-4px;
    left:50%;
    margin-left:-5px;
    z-index: 220;
    width:0;
}

/* On hover, show the tooltip! */
.subscribe:hover .tooltip {
    opacity: 1;
    top: -33px;
}



/* ==========================================================================
   End of file. Media queries should be the last thing here. Do not add stuff
   below this point, or it will probably fuck everything up.
   ========================================================================== 


   pre {
  font-family: monospace;
  background-color: #fff;
  margin: 4em auto;
  padding: 0.5em;
  border-radius: .25em;
  box-shadow: .1em .1em .5em rgba(0,0,0,.45);
  line-height: 0;
  counter-reset: line;
  
  span {
    display: block;
    line-height: 1.5rem;
    
    &:before {
      counter-increment: line;
      content: counter(line);
      display: inline-block;
      border-right: 1px solid #ddd;
      padding: 0 .5em;
      margin-right: .5em;
      color: #888
    }
  }
}

*/