$sans-serif-article: 'Nunito', sans-serif;
$sans-serif-article-2: 'Varela Round', sans-serif;

$accent-color: #40526b;
$accent-secondary: #FFDC00;
$nav-height: 50px;

$light-gray: transparentize($base-font-color, .6);


$icomoon-font-path: "../fonts" !default;

$icon-rss: "\e901";
$icon-feed: "\e901";
$icon-atom: "\e901";
$icon-twitter: "\e902";
$icon-social: "\e902";
$icon-facebook: "\e903";
$icon-social2: "\e903";
$icon-linkedin: "\e900";

