$sans-serif-article: 'Nunito', sans-serif;
$sans-serif-article-2: 'Varela Round', sans-serif;

$accent-color: #40526b;
$accent-secondary: #FFDC00;
$nav-height: 50px;

$light-gray: transparentize($base-font-color, .6);


$icomoon-font-path: "../fonts" !default;

$icon-rss: "\ea9b";
$icon-twitter: "\ea96";
$icon-facebook: "\ea90";
$icon-linkedin: "\eaca";
$icon-github: "\eab0";
$icon-instagram: "\ea92";
$icon-mail: "\e945";
$icon-google-plus: "\ea88";