<!-- Variable current -->
{% assign current = page.url | downcase | split: '/' %}

<!-- Cabecera -->
<header class="navigation">
  <nav>
    <ul>
      <li><a href="/" {% if current[1] == nil %}class='active'{% endif %}>Blog</a></li>
      <li><a href="/archivos" {% if current[1] == 'archivos' %}class='active'{% endif %}>Archivos</a></li>
      <li><a href="/etiquetas" {% if current[1] == 'etiquetas' %}class='active'{% endif %}>Etiquetas</a></li>
      <li><a href="/ajedrez" {% if current[1] == 'ajedrez' %}class='active'{% endif %}>Ajedrez</a></li>
      <li><a href="/conoceme" {% if current[1] == 'conoceme' %}class='active'{% endif %}>Conóceme</a></li>
    </ul>
  </nav>
</header>