---
layout: default
---

{% assign months = "Enero|Febrero|Marzo|Abril|Mayo|Junio|Julio|Agosto|Septiembre|Octubre|Noviembre|Diciembre" | split: "|" %}
{% assign m = page.date | date: "%-m" | minus: 1 %}
{% assign day = page.date | date: "%d" %}
{% assign month = months[m] %}
{% assign year = page.date | date: "%Y" %}

  <!-- Variables tag_count y moreTags_count -->
  {% assign tag_count = page.tags | size %}
  {% assign moreTags_count = page.more_tags | size %}


<!-- Cabecera del cuerpo -->
{% include header.html %}

<!-- Artículo -->
<article>

  <!-- Título y subtítulo -->
  <h1 class="title">
  {{ page.title }}
  </h1>
  <p class="subtitle">
     <!-- Etiquetas -->
    <span>
    {% if moreTags_count > 0 %}
      Etiquetas:
      <a href="/#{{ page.tags }}">{{ page.tags }}</a>,
      {% for moreTags in page.more_tags %}
        {% if forloop.last %}
          <a href="/#{{ moreTags }}">{{ moreTags }}</a>
        {% else %}
          <a href="/#{{ moreTags }}">{{ moreTags }}</a>,
        {% endif %}
      {% endfor %}
    {% else %}
      Etiqueta:
      <a href="/#{{ page.tags }}">{{ page.tags }}</a>
    {% endif %}
    </span>
    <span class="date">
    Última actualización: <span style="color:black">{{ day }} de {{ month }}, {{ year }}</span>
    </span>
  </p>

  <br/>

  <div id="quiz">
  <!-- Rellenamos página con las preguntas y las respuestas -->
  {% for Q in page.questions %}
      {% capture str_temp %}question{{ forloop.index }}{% endcapture %}
      
      <div class="question" value="{{ Q.correctAnswer }}">

      {{ Q.question }}
   
      </div>

      <div class="answers">
      {% for A in Q.answers %}
        <label><input type="radio" name="{{ str_temp }}" value="{{ A[0] }}">
        {{ A[1] }}
        </label>
      {% endfor %}
      </div>
      <br/>
  {% endfor %}
  </div>
<br/><br/>
  <!-- Botón para comprobar el resultado -->
  <center><span id="results"></span></center>
   <center><button id="submit" type="button">Check your answers</button></center>
  

</article>



<script>
(function() {
  
  function showResults() {
    // gather answer containers from our quiz
    const questionContainers = quizContainer.querySelectorAll(".question");
    const answerContainers = quizContainer.querySelectorAll(".answers");

    // keep track of user's answers
    let numCorrect = 0;

    // for each question...
    for (var i = 0, iLen = questionContainers.length; i < iLen; i++) {

      // find selected answer
      var userAnswer = (answerContainers[i].querySelector(`input[name=question${i+1}]:checked`) || {}).value;
      var questionAnswer = questionContainers[i].attributes.value.value
     

      // if answer is correct
      if (userAnswer === questionAnswer) {
        // add to the number of correct answers
        numCorrect++;

        // color the answers green
        answerContainers[i].style.color = "lightgreen";
      } else {
        // if answer is wrong or blank
        // color the answers red
        answerContainers[i].style.color = "red";
      }
    }

    // show number of correct answers out of total
    resultsContainer.innerHTML = `${numCorrect} out of ${questionContainers.length}`;
  }

  // Obténemos elementos del quiz
  const quizContainer = document.getElementById("quiz");
  const resultsContainer = document.getElementById("results");
  const submitButton = document.getElementById("submit");
  

  // on submit, show results
  submitButton.addEventListener("click", showResults);
})();
</script>